<h1>Rick and Morty search page</h1>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Rick and Morty characters search engine</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <style>
    .ui-autocomplete {
      max-height: 100px;
      overflow-y: auto;
      /* prevent horizontal scrollbar */
      overflow-x: hidden;
    }
    /* IE 6 doesn't support max-height
    * we use height instead, but this forces the menu to always be this tall
    */
    * html .ui-autocomplete {
      height: 200px;
    }
  </style>

  {% load static %}
  <script type="text/javascript" src="{% static 'functions.js' %}"></script>

  <script>
    $( function() {
      const all_products = JSON.parse("{{ products }}".replaceAll('&#x27;', '"'));

      $( "#search_query" ).autocomplete({
        scroll: true,
        source: all_products.map(x => x.name),
        matchContains: true,
        select: function (e, ui) {
              update_search_results_div(ui.item.value, all_products);
          },
      });
   } );

  </script>

</head>

<body onload="update_search_results_div(this.value, {{ products }})">

  <form action="{% url 'search_result' %}" method="get">
    <input name="query" type="text" id="search_query" placeholder="Search here.." oninput="update_search_results_div(this.value, {{ products }})" onclick="update_search_results_div(this.value, {{ products }})">
  </form>

  <div id='proposed_results'>
  </div>

</body>
